@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumeContainer {
  width: 70%;
  height: 70%;
  background-color: brown;
  text-align: right;
}

.topCard {
  background-color: #b7afd2;
  color: white;
  padding: 15px;
  margin-right: 0px;
}

.name {
  font-size: 64px;
  font-weight: bolder;
}
.role {
  font-size: 34px;
}
.brief {
  text-align: right;

  width: 150px;
}
