@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  background-color: whitesmoke;
  /* text-align: center; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.resumeContainer {
  width: 75%;
  height: 75%;
  background-color: brown;
  text-align: right;
}

.topCard {
  background-color: #b7afd2;
  color: white;
  padding: 15px;
  margin-right: 0px;
  border-radius: 14px;
  border: 3px solid black;
}

.name {
  font-size: 64px;
  font-weight: bolder;
}

.role {
  font-size: 34px;
  color: rebeccapurple;
}

.brief {
  text-align: left;
  max-width: 98%;
  margin-left: 30%;
}

.bottomCard {
  display: grid;
  grid-auto-flow: column;
  text-align: left;
}

.leftCard {
  background-color: aquamarine;
  padding: 10px;
  border-right-color: #0d0b11;
  border-right-width: 2px;
  width: 100%;
  max-width: 40%;
  min-width: 20%;
}

.leftCard h1 {
  font-weight: bold;
  font-size: 150%;
}

.rightCard {
  background-color: rgb(221, 175, 120);
  padding: 10px;
  padding-left: 5%;
  border-right-width: 2px;
  max-width: 100%;
  min-width: 100%;
}
.rightCard h1 {
  font-weight: bold;
  font-size: 150%;
}
.singleContact {
  display: flex;
  padding: 15px;
}

.singleContact img {
  margin-right: 15px;
}

.skills {
  border-top: dashed #0d0b11;
}

.singleSkills {
  display: flex;
  padding: 15px;
}

.singleSkills h2 {
  margin-right: 5%;
  font-weight: bold;
}
/* .commonComponents {
  display: grid;
  grid-template-columns: repeat(2, 1fr, 2fr);
  grid-gap: 20px;
} */
/* .commonComponents div {
  display: flex;
  margin-left: 2%;
  padding: 2%;
} */
/* .commonComponents h2 {
  font-weight: 500;
} */
/* .commonComponents1 {
  /* width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  padding: 2%;
}  */
/* .commonComponents1 p {
  font-weight: bold;
  justify-content: left;

  text-align: right;
  width: 150px;
  margin-left: 50%;
} */

.backCard {
  background-color: yellowgreen;
  position: relative;
  color: white;
  padding: 15px;
  margin-right: 0px;
  border-radius: 14px;
  border: 3px solid black;
}

.rightGrid {
  background-color: rgb(236, 150, 150);
}


.rightGrid{
  display: grid;
  
}
/* .dateRange{
  max-width: 17%;
  margin: 10px;
  font-weight: 600;
  
}
.commonComponents1{
  display: flex;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
  margin:10px;
} */
